<strong>Recuperar senha</strong>

<p>Uma solicitação de recuperação de senha foi realizada para o e-mail ({{ email }}). Se você não foi o autor, troque a senha.</p>

<p>Para alterar sua senha, utilize o token abaixo ou clique no link.</p>

<a href="{{ link }}"> Alterar senha </a>

<h1>{{ token }}</h1>
